
@model List<User>
<h1 style="text-align:center">List of Users</h1>

<a class="btn btn-primary float-md-start" asp-controller="Login" asp-action="Register">Create New User</a>
<br />
<br />
<div class="container d-flex justify-content-center">
    
<table class="table table-bordered table-striped table-danger w-100 h-auto">
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                    <td>
                        <a asp-controller="Login" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary form-control">Edit</a> <br />
                        
                    @*</td>
                    <td>*@
                        <a asp-controller="Login" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger form-control" onclick="return confirm('Are you sure to Delete')">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
                   
</table>
</div>


@*<h1 style="text-align:center">Login Form</h1><br />
 <div class="container d-flex justify-content-center">       
    <form method="post">
        <div>
          <table class="table table-danger w-20 h-auto" >

            <tr>
                <td>Id:</td>
                <td><input type="text" placeholder="UserId" /></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" placeholder="UserName" /></td>       
            </tr>
             <tr>
                <td>Email:</td>
                <td><input type="text" placeholder="UserEmail" /></td>       
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" placeholder="Password" aria-hidden="true" /></td>
            </tr>
          </table>
        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Login" asp-action="Register">Registration</button>
            <button type="reset" class="btn btn-danger">Reset</button>


       
    </form>
</div>
*@
@*<p>Anil kumar</p> *@